In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('adult.data.csv')

In [6]:
average_age_men = df[df['sex'] == 'Male'].age.mean()
average_age_men

39.43354749885268

In [8]:
average_age_men = df.groupby('sex').age.mean().get(key= 'Male')
average_age_men

39.43354749885268

In [10]:
(df[df['education']=='Bachelors'].education.count() / df['education'].count())*100

16.44605509658794

In [12]:
high_1 = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].salary == '>50K'
high_2 = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].salary
high_percent = high_1.values.sum() / high_2.count() * 100
high_percent

46.535843011613935

In [14]:
low_1 = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].salary == '>50K'
low_2 = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].salary
lower_education_rich = low_1.values.sum() / low_2.count() * 100
lower_education_rich

17.3713601914639

In [10]:
df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [13]:
h = df[df['hours-per-week'] == 1]['hours-per-week'].count()
h

20

In [14]:
num_min_workers = df[df['hours-per-week'] == 1]['hours-per-week'].count()
num_min_workers

20

In [27]:
f = (df[df['hours-per-week'] == 1]['salary'] == '>50K').value_counts()
g = f.values[1]

In [28]:
percentage = g / num_min_workers * 100
percentage

10.0

In [45]:
(df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/df['native-country'].value_counts()).idxmax()

'Iran'

In [49]:
df['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [50]:
df.loc[df['salary'] == '>50K', 'native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
France                  12
Poland                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Haiti                    4
Portugal                 4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Columbia                 2
Trinadad&Tobago          2
Laos                     2
Peru                     2
Dominican-Republic       2
Honduras                 1
Name: native-country, dtype: int64

In [26]:
(df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/df['native-country'].value_counts()).max()*100

41.86046511627907

In [25]:
(df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/df['native-country'].value_counts()).max

<bound method NDFrame._add_numeric_operations.<locals>.max of ?                             0.250429
Cambodia                      0.368421
Canada                        0.322314
China                         0.266667
Columbia                      0.033898
Cuba                          0.263158
Dominican-Republic            0.028571
Ecuador                       0.142857
El-Salvador                   0.084906
England                       0.333333
France                        0.413793
Germany                       0.321168
Greece                        0.275862
Guatemala                     0.046875
Haiti                         0.090909
Holand-Netherlands                 NaN
Honduras                      0.076923
Hong                          0.300000
Hungary                       0.230769
India                         0.400000
Iran                          0.418605
Ireland                       0.208333
Italy                         0.342466
Jamaica                       0.123457
Japan                         0.387097
Laos                          0.111111
Mexico                        0.051322
Nicaragua                     0.058824
Outlying-US(Guam-USVI-etc)         NaN
Peru                          0.064516
Philippines                   0.308081
Poland                        0.200000
Portugal                      0.108108
Puerto-Rico                   0.105263
Scotland                      0.250000
South                         0.200000
Taiwan                        0.392157
Thailand                      0.166667
Trinadad&Tobago               0.105263
United-States                 0.245835
Vietnam                       0.074627
Yugoslavia                    0.375000
Name: native-country, dtype: float64>

In [12]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [37]:
df[df['native-country'] == 'India']['occupation'].value_counts().idxmax()

'Prof-specialty'